<section class="page-section bg-primary" id="product">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Apostle</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Apostle is our <b>social trading platform</b> that aims to democratize access to trading by allowing novice traders to learn from experienced traders, replicate their strategies and benefit from their experience. <br/><br/>It provide a variety of tools and features, including a trading feed that displays the trades of other users, rankings of the best traders on the platform, and the ability to follow and copy the trades of other traders.</p>
                <h5 class="text-white mt-0">Benefits of Social Trading Platform</h5>
                <p class="text-white-75 mb-4">
                <br/><b>Learning from experienced traders: </b> It allow novice traders to learn from more experienced traders by following their trades and strategies. This can be a valuable learning experience for those who are just starting out in trading.
                <br/><br/><b>Easy access to information: </b> It provide access to a wealth of information about the markets, including news, analysis, and real-time data. This can help traders make more informed decisions and stay up-to-date on market trends.
                <br/><br/><b>Saving time: </b> It allow traders to automate their trading by copying the trades of other users. This can save time and effort, as traders do not have to constantly monitor the markets or make decisions on their own.
                <br/><br/><b><b>Diversification: </b> It allow traders to diversify their portfolios by following multiple traders and copying a range of different strategies.
                <br/><br/><b>Social interaction: </b> It provide a community of traders who can share ideas, discuss strategies, and support each other. This can help traders feel less isolated and more engaged with the trading process.
                </p>
                <a class="btn btn-light btn-xl" href="#download">Get Started!</a>
            </div>
        </div>
    </div>
</section>
