<section class="page-section bg-dark text-white" id="hiring">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">We are Hiring</h2>
        <hr class="divider" />


        <div class="row gx-4 gx-lg-5 justify-content-center">

            <table>            
                    <tr>
                        <th>Open Position</th>
                        <th>Qualifications</th>
                        <th>Skills</th>
                    </tr>
                    <tr>
                        <td>C#.NET WPF Developer</td>
                        <td>
                            BSc/MCA/BE/BTech<br/>
                            0-3 years experience<br/>
                            Financial domain knowledge is a plus
                        </td>
                        <td>
                            C#.NET/WPF/MVVM<br/>
                            NOSQL/Mongo/Firebase<br/>
                            REST/Web API<br/>
                            Unit testing/mocking <br/>
                        </td>
                    </tr>
            </table>
        </div>
        <br/><br/>
        <a class="btn btn-light btn-xl" href="mailto:wealthfoundry@outlook.com">JOIN OUR TEAM</a>
    </div>
</section>
